.home-search-container {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-card-container {
    height: calc(100% - 150px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.weather-card {
    height: 80%;
    width: 30%;
    border: 1px solid;
    border-radius: 8px;
    background-image: linear-gradient(rgb(207, 232, 240), rgb(12, 102, 109));
    text-align: center;

    p {
        margin: 0;
    }
}

@media screen and (max-width: 600px) {
    .weather-card {
        width: 85%;
        height: 70%;
    }
}